In [29]:
import json
import pandas as pd
import numpy as np

In [30]:
data = [{"name":"sathish","age":26,"phone":[{"id":"001","value":"1111"},{"id":"001","value":"1222"}]},
        {"name":"raj","age":28,"phone":[{"id":"002","value":"2111"},{"id":"002","value":"22222"}]},
       ]

In [31]:
print(data)

[{'name': 'sathish', 'age': 26, 'phone': [{'id': '001', 'value': '1111'}, {'id': '001', 'value': '1222'}]}, {'name': 'raj', 'age': 28, 'phone': [{'id': '002', 'value': '2111'}, {'id': '002', 'value': '22222'}]}]

In [32]:
df=pd.DataFrame(data)
print(df)

   age     name                                              phone
0   26  sathish  [{'id': '001', 'value': '1111'}, {'id': '001',...
1   28      raj  [{'id': '002', 'value': '2111'}, {'id': '002',...

In [45]:
print(df.name )

0    sathish
1        raj
Name: name, dtype: object

In [46]:
print(df.phone.str.len() )

0    2
1    2
Name: phone, dtype: int64

In [47]:
print(df.name, df.phone.str.len())

0    sathish
1        raj
Name: name, dtype: object 0    2
1    2
Name: phone, dtype: int64

In [36]:
df1 = pd.DataFrame({'name': np.repeat(df.name, df.phone.str.len()),
                    'age': np.repeat(df.age, df.phone.str.len()), 
                    'phone': np.concatenate(df.phone)})
print(df1)

      name  age                            phone
0  sathish   26   {'id': '001', 'value': '1111'}
0  sathish   26   {'id': '001', 'value': '1222'}
1      raj   28   {'id': '002', 'value': '2111'}
1      raj   28  {'id': '002', 'value': '22222'}