In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
data = [{"name": "sathish", "phone": ['01234', '45678']}, {"name": "raj", "phone": ['9874', '6541']}]

In [3]:
print(data)

[{'name': 'sathish', 'phone': ['01234', '45678']}, {'name': 'raj', 'phone': ['9874', '6541']}]

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

      name           phone
0  sathish  [01234, 45678]
1      raj    [9874, 6541]

In [6]:
df1 = pd.DataFrame(
        {'name': np.repeat(df.name, df.phone.str.len()), 'phone': np.concatenate(df.phone)})

In [7]:
print(df1)

      name  phone
0  sathish  01234
0  sathish  45678
1      raj   9874
1      raj   6541

In [8]:
json.loads(df1.to_json(orient='records'))

[{'name': 'sathish', 'phone': '01234'},
 {'name': 'sathish', 'phone': '45678'},
 {'name': 'raj', 'phone': '9874'},
 {'name': 'raj', 'phone': '6541'}]

In [9]:
print(df.name)

0    sathish
1        raj
Name: name, dtype: object